@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Inconsolata&subset=latin,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    color: #839496;
    background-color: #002b36;
    font-size: 100%;
    font: inherit;
    font-family: 'Open Sans', serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {overflow:auto}
body {
    padding: 1rem;
    line-height: 1.4rem;

}

p {margin-bottom:1rem}
strong, em {color:#93a1a1}

h1, h2, h3, h4, h5, h6 {color:#b58900}
h1 {
    font-size:2rem;
    margin:2rem 0;
}
h2 {
    font-size:1.7rem;
    line-height:2rem;
}
h3 {
    font-size:1.4rem;
    line-height:1.8rem;
}

a {color:#268bd2}
a:hover {background-color:#073642}
a:visited {color:#6c71c4}

ol, ul {list-style:none}
li {margin:.1rem 0}
dt {font-weight:700}
dd {margin-left:2rem}


blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

input[type="number"] {text-align:right}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {background:#073642}
td, th {padding:.5rem}
td:last-child {text-align:right}

::selection {
    background: #FF5E99;
    color: #fff;
    text-shadow: none;
}

.error {color:#dc322f}

footer p {
    color:#586e75;
    font-size: .8rem;
}